<div class="header-bg">
  <!-- Navigation Bar-->
  <header id="topnav">
    <div class="topbar-main">
      <div class="container-fluid">

        <!-- Logo container-->
        <div class="logo">
          <!-- Text Logo -->
          <a href="index.html" class="logo">
            ANTI-FRAUD PORTAL
          </a>
          <!-- Image Logo -->
          <!-- <a href="index.html" class="logo">
              <img src="assets/images/logo-sm.png" alt="" height="22" class="logo-small">
              <img src="assets/images/logo.png" alt="" height="24" class="logo-large">
          </a> -->

        </div>
        <!-- End Logo container-->


        <div class="menu-extras topbar-custom">

          <ul class="list-inline float-right mb-0">

            <!-- notification-->
            <li class="list-inline-item dropdown notification-list">
              <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"
                 role="button"
                 aria-haspopup="false" aria-expanded="false">
                <i class="ti-bell noti-icon"></i>
                <span class="badge badge-info badge-pill noti-icon-badge">3</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                <!-- item-->
                <div class="dropdown-item noti-title">
                  <h5>Notification (3)</h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                  <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                  <p class="notify-details"><b>Your order is placed</b>
                    <small class="text-muted">Dummy text of the printing and typesetting industry.
                    </small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                  <p class="notify-details"><b>New Message received</b>
                    <small class="text-muted">You have 87 unread messages</small>
                  </p>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                  <p class="notify-details"><b>Your item is shipped</b>
                    <small class="text-muted">It is a long established fact that a reader will
                    </small>
                  </p>
                </a>

                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  View All
                </a>

              </div>
            </li>
            <!-- User-->
            <li class="list-inline-item dropdown notification-list">
              <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown"
                  role="button"
                 aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                <span class="ml-1">Admin <i class="mdi mdi-chevron-down"></i> </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <a class="dropdown-item" ><i class="dripicons-user text-muted"></i> Profile</a>
                <a class="dropdown-item" ><i class="dripicons-wallet text-muted"></i> My Wallet</a>
                <a class="dropdown-item" ><span
                        class="badge badge-success pull-right m-t-5">5</span><i
                        class="dripicons-gear text-muted"></i> Settings</a>
                <a class="dropdown-item" ><i class="dripicons-lock text-muted"></i> Lock screen</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logUserOut()"><i class="dripicons-exit text-muted"></i> Logout</a>
              </div>
            </li>
            <li class="menu-item list-inline-item">
              <!-- Mobile menu toggle-->
              <a class="navbar-toggle nav-link" [ngClass]="{'open':menuToggle}">
                <div class="lines" (click)="toggleMenu()">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
              <!-- End mobile menu toggle-->
            </li>

          </ul>
        </div>
        <!-- end menu-extras -->

        <div class="clearfix"></div>

      </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <!-- MENU Start -->
    <div class="navbar-custom active">
      <div class="container-fluid">
        <div id="navigation" class="active">
          <!-- Navigation Menu-->
          <ul class="navigation-menu">

            <li class="has-submenu">
              <a (click)="setNavBarNavigation('dashboard')"><i class="dripicons-meter"></i>Dashboard</a>
            </li>

            <li class="has-submenu" id="setup">
              <a ><i class="fa fa-cog"></i>Setup <i class="mdi mdi-chevron-down mdi-drop"></i></a>
              <ul class="submenu">
                <li  id="setup_customer_index"><a routerLink="../setup/customers">Customers</a></li>
                <li id="setup_material_index"><a routerLink="../setup/materials">Materials</a></li>
                <li id="setup_material-category_index"><a routerLink="../setup/material-category">Material Categories</a></li>
                <li id="setup_recipe_index"><a routerLink="../setup/recipes">Recipes</a></li>
                <li id="setup_store_index"><a routerLink="../setup/stores">Stores</a></li>
                <li id="setup_vendor_index"><a routerLink="../setup/vendors">Vendors</a></li>
                <li id="setup_unit_index"><a routerLink="../setup/units">Units</a></li>

              </ul>
            </li>

            <li class="has-submenu" id="jobs">
              <a ><i class="dripicons-to-do"></i>Jobs <i
                      class="mdi mdi-chevron-down mdi-drop"></i></a>
              <ul class="submenu">
                <li class="has-submenu" id="order" >
                  <a>Orders</a>
                  <ul class="submenu">
                    <li id="order_purchase_index"><a routerLink="../orders/purchases">Purchase Orders</a></li>
                    <li id="order_sales_index"><a routerLink="../orders/sales" >Sales Orders</a></li>
                    <li id="order_recipe_index"><a routerLink="../orders/recipes">Recipe Orders</a></li>
                    <li id="order_material_index"><a routerLink="../orders/materials">Material Orders</a></li>
                  </ul>
                </li>
                <li class="has-submenu" id="note" >
                  <a>Notes</a>
                  <ul class="submenu">
                    <li id="note_receiving_index"><a routerLink="../notes/receiving">Receiving Notes</a></li>
                    <li id="note_delivery_index"><a routerLink="../notes/delivery" >Delivery Notes</a></li>
                    <li id="note_material_index"><a routerLink="../notes/material">Material Notes</a></li>
                    <li id="note_recipe_index"><a routerLink="../notes/recipe">Recipe Notes</a></li>
                  </ul>
                </li>
                <li class="has-submenu" id="invoice" >
                  <a>Invoices</a>
                  <ul class="submenu">
                    <li><a routerLink="../invoices/purchase">Purchase
                      Invoices</a></li>
                    <li><a routerLink="../invoices/sales">Sales Invoices</a></li>
                  </ul>
                </li>
                <li class="has-submenu" id="payment" >
                  <a>Payments</a>
                  <ul class="submenu">
                    <li><a routerLink="../payments/vendor" id="payment_vendor_index">Vendor
                      Payments</a></li>
                    <li><a routerLink="../payments/customer" id="payment_customer_index">Customer Payments</a></li>

                  </ul>
                </li>

              </ul>
            </li>

            <li>
              <a>Inventory</a>
            </li>

            <li class="submenu">
              <a >Reports</a>
            </li>
            <li class="has-submenu" id="admin">
              <a><i class="fa fa-cog"></i>Administration <i class="mdi mdi-chevron-down mdi-drop"></i></a>
              <ul class="submenu">
                <li><a routerLink="../admin/users" id="admin_user_index">Users</a></li>
                <li><a routerLink="../admin/roles" id="admin_role_index">Roles</a></li>
              </ul>
            </li>


          </ul>
          <!-- End navigation menu -->
        </div> <!-- end #navigation -->
      </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
  </header>
  <!-- End Navigation Bar-->

</div>



