<div id="preloader" *ngIf="pageLoading">
  <div id="status">
    <div class="spinner"></div>
  </div>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card">
    <div class="card-block">

      <div class="ex-page-content text-center">
        <h1 class="">404!</h1>
        <h4 class="">Sorry, page not found</h4><br>

        <button class="btn w-md mb-5 waves-effect waves-light" (click)="goBack()"><i class="mdi dripicons-arrow-left"></i> Go Back </button>
      </div>

    </div>
  </div>

  <div class="m-t-40 text-center">
    <p>© 2018 Anti-Fraud. Crafted with <i class="mdi mdi-heart text-danger"></i> by Upperlink</p>
  </div>

</div>