/* You can add global styles to this file, and also import other style files */
.ml-1{
    color: white;
}
.shadow{
    box-shadow: 0 .8rem 3rem rgba(0,0,0,.40)!important;
}
.card-footer, .card-header{
    background-color: rgba(0, 0, 0, 0.12)
}